<% if (title) { %>
    <div class="container-formall">
        <h1 class="form-title"><%= title %></h1>
    <%- messages() %>
    </div>
    <% } else {
      res.redirect('/')
    } %>

<% if (locals.accountData.account_type == "Client" || locals.accountData.account_type == 'Employee' ||
locals.accountData.account_type == 'Admin' ) { %>
  <h2 class="titlesaccount" >Welcome <%- locals.accountData.account_firstname %></h2>
<% } %>


<p class="paragrapsaccount">Youre logged in.</p>

<div class="linksaccount">
  <a href="/account/update/<%- locals.accountData.account_id %>">Update Account Information</a>
</div>

<% if (locals.accountData.account_type == 'Employee' ||
 locals.accountData.account_type == 'Admin') { %>
   <h2 class="titlesaccount" >Inventory Management</h2>
   <div class="linksaccount">
    <a href="/inv">Inventory Management view</a>
</div>
<% } %>

<% if (locals.accountData.account_type == "Client" || locals.accountData.account_type == 'Employee' ||
locals.accountData.account_type == 'Admin' ) { %>
<h2 class="titlesaccount" >Message Center</h2>
<p class="paragrapsaccount">You have <%- unreadMessages %> message(s) unread.</p>
<div class="linksaccount">
    <a href="/inbox">Go to Inbox</a>
</div>
<% } %>

